:root {
  --size-container: 16px;
}

.main {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  padding: 4px;
  height: var(--size-container);
  width: var(--size-container);
  border-radius: 50%;
  transition: background-color 300ms linear;
}

.icon-container {
  cursor: pointer;
}

.hovered {
  background-color: rgba(65, 137, 230, 0.1);
}

.star-fill-smaller {
  opacity: 0;
  transition: opacity 300ms linear 300ms;
}

.hovered .star-fill-smaller {
  opacity: 1;
  animation-name: motionSmaller;
  animation-timing-function: linear;
  animation-duration: 600ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.not-hovered .star-fill-smaller {
  transition: opacity 300ms linear 0ms;
  animation-name: motionSmallerReverse;
  animation-timing-function: linear;
  animation-duration: 300ms;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

.star-fill {
  transition: fill 300ms linear, transform 600ms ease-in 300ms;
  transform-origin: var(--size-container) 5%;
}

.hovered .star-fill {
  fill: rgba(52, 131, 250, 1);
  transform: scale(2.9);
}

.not-hovered .star-fill {
  transition: transform 300ms ease-in;
}

.star-outline {
  transition: stroke 300ms linear, fill 300ms linear, transform 600ms ease-in 300ms;
  transform-origin: 5% 95%;
}

.hovered .star-outline {
  stroke: rgba(52, 131, 250, 1);
  fill: rgba(52, 131, 250, 1);
  transform: scale(0.3);
}

.not-hovered .star-outline {
  transition: transform 300ms ease-in;
}


@keyframes motionSmaller {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translateX(7.5px);
  }

  100% {
    transform: translate(5px, -5px);
  }
}


@keyframes motionSmallerReverse {
  0% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}